:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

.search.form-control::placeholder {
  color: red;
}

.smaller{
  font-size: small;
}

input[type=radio]{
  display: none;
}

.larger{
  font-size: 56px;
}

.edit{
  border: transparent;
}

.pencil:hover{
  color: #0d6efd;
  
}

.smallest{
  font-size: xx-small;
}

#nav_dropdown{
  margin: 100px;
}

.trending{
  background-color:rgb(213, 212, 212);
  border-radius: 20px;
}

