:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

.search-results {
  position: absolute;
  top: calc(100% + 10px); /* Position it below the search bar */
  left: 0;
  right: 0;
  background-color: white;
  z-index: 1000; /* Ensure it's on top */
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for a better visual */
  display: none;
}

.search-results.active {
  display: block;
}

.list-group-item {
  border: none; /* Remove border for each search result item */
  cursor: pointer; /* Add cursor pointer for better UX */
}

.list-group-item:hover {
  background-color: #f7f7f7; /* Change background color on hover */
}