:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}


.list-group-item {
  border: none; /* Remove border for each search result item */
  cursor: pointer; /* Add cursor pointer for better UX */
}

.list-group-item:hover {
  background-color: #f7f7f7; /* Change background color on hover */
}

.search.form-control::placeholder {
  color: red;
}

.smaller{
  font-size: small;
}

input[type=radio]{
  display: none;
}

.larger{
  font-size: 56px;
}

.edit{
  border: transparent;
}

.pencil:hover{
  color: #0d6efd;
  
}

.smallest{
  font-size: xx-small;
}



